@charset "utf-8";
/* CSS Document */

body{
	width:100%; height:100%;
	overflow:hidden;
}

.pixel{
	position:absolute;
	width:4px; height:4px;
}

.pixel.px_1{background:#36b9da;}

.element{
	position:absolute;
	width:2px; height:2px;
}

.element.el_1{background:red;}
